# Disable directory listing
Options -Indexes

# Set DirectoryIndex
DirectoryIndex index.html index.php

# Basic security
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protect config files
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>
